<h1>Search by Entering Coordinates or by Entering a Physical address.</h1>

  <div id="physicalAddress" class="form-group">
    <label for="lat">Latitude:</label>
    <input #lat>
    <label for="lng">Longitude:</label>
    <input #lng>
    <button (click)="getPhysicalAddress(lat.value, lng.value)">Get Physical Address</button>
  </div>

  <div id="getCoordinates">
    <label for="address">Physical Address:</label><br>
    <input #address>
    <button (click)="getLatLng(address.value)">Enter</button>
  </div>
